<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2025 Mike Skalnik</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>File Cloud needs to send you notifications for upload status.</string>
</dict>
</plist>
