<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>File Cloud</string>
    <key>CFBundleIdentifier</key>
    <string>com.example.file-cloud</string>
    <key>CFBundleName</key>
    <string>File Cloud</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2025 File Cloud.</string>
    <key>NSUserNotificationUsageDescription</key>
    <string>File Cloud needs to send you notifications for upload status.</string>
</dict>
</plist>
